* {
    font-size: 1rem;
    color: #04473a;
    font-family: Arial;
    background-color: #fefb1e;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

input,
label {
    margin-top: 10px;
    border-radius: 10px;
}

button {
    margin-top: 80px;
    background-color: #0c8326;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: white;
    padding: 5px;
}

img {
    height: 200px;
    width: auto;
}

.api-container {
    display: flex;
}